<p>book-list works!</p>
<!-- <div class="book-form">
    <input type="text" [(ngModel)]="newBookTitle" placeholder="add a new book title" required/>
    <input type="text" [(ngModel)]="newBookAuthor" placeholder="add book's author" required>
    <p>Have you read this book?</p>
    <input type="checkbox" [(ngModel)]="newBookRead" id="checkBox" value="yes" >
    
    <label for="yes">Yes</label>
    <input type="checkbox" value="no" id="checkBox"
     >
    <label for="no">No</label>
    <button (click)="addBook()">add book</button>
</div> -->
<app-book-new />

<ul>
    <li *ngFor="let book of books">
        <input type="checkbox" [(ngModel)]="book.read" (change)="updateBook(book)"/>
        <span>{{book.title}}, {{book.author}}, {{book.read ? 'Read' : 'Not read'}}</span>
        <img [src]="book.cover_image_url || 'https://www.pikpng.com/transpng/ixhobmh/'" alt="book image"
        class="book_image" 
        />
        <button (click)="deleteBook(book.id)">delete</button>
    </li>
</ul>

